@page "/clientes/adicionar"
@inherits CreateClientePage

<MudText Typo="Typo.h3">Novo Cliente</MudText>

<MudPaper Class="pa-8 mt-4">
    <Form Model="@InputModel" OnValidSubmit="@OnValidSubmitAsync">

        <div class="d-flex flex-wrap" style="gap: 1rem;">

            <MudTextField Label="Nome" Style="min-width: 600px;"
                          HelperText="Campo obrigatório"
                          @bind-Value="InputModel.Nome"
                          For="@(() => InputModel.Nome)" />

            <MudTextField Label="CPF" Style="min-width: 200px;"
                          HelperText="Somente números"
                          @bind-Value="InputModel.CPF"
                          For="@(() => InputModel.CPF)" />

            <MudTextField Label="CNH" Style="min-width: 200px;"
                          @bind-Value="InputModel.CNH"
                          For="@(() => InputModel.CNH)" />

            <MudDatePicker Label="Data de Nascimento" Style="min-width: 50px; max-width: 300px;"
                           @bind-Date="InputModel.DataNascimento"
                           For="@(() => InputModel.DataNascimento)" />

            <MudTextField Label="Telefone" Style="min-width: 200px;"
                          @bind-Value="InputModel.Telefone"
                          For="@(() => InputModel.Telefone)" />

            <MudTextField Label="E-mail" Style="min-width: 250px;"
                          @bind-Value="InputModel.Email"
                          For="@(() => InputModel.Email)" />

            <MudTextField Label="Endereço" Style="min-width: 500px;"
                          @bind-Value="InputModel.Endereco"
                          For="@(() => InputModel.Endereco)" />
        </div>

    </Form>
</MudPaper>
