@page "/multas/adicionar"
@inherits CreateMultaPage

<MudText Typo="Typo.h3">Nova Multa</MudText>

<MudPaper Class="pa-8 mt-4">
    <EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
        <DataAnnotationsValidator />

        <div class="d-flex flex-wrap" style="gap: 1rem;">

            <MudTextField Label="Auto de Infração" Style="min-width: 250px;"
                          @bind-Value="InputModel.AutoInfracao"
                          For="@(() => InputModel.AutoInfracao)" />

            <MudTextField Label="Placa do Veículo" Style="min-width: 150px;"
                          @bind-Value="InputModel.PlacaVeiculo"
                          For="@(() => InputModel.PlacaVeiculo)" />

            <MudTextField Label="RENAVAM" Style="min-width: 200px;"
                          @bind-Value="InputModel.Renavam"
                          For="@(() => InputModel.Renavam)" />

            <MudTextField Label="Código da Infração" Style="min-width: 200px;"
                          @bind-Value="InputModel.CodigoInfracao"
                          For="@(() => InputModel.CodigoInfracao)" />

            <MudTextField Label="Descrição da Infração" Style="min-width: 600px;"
                          @bind-Value="InputModel.DescricaoInfracao"
                          For="@(() => InputModel.DescricaoInfracao)" />

            <MudNumericField T="decimal" Variant="Variant.Text" Format="C" Label="Valor da Multa" Style="min-width: 150px;"
                             @bind-Value="InputModel.ValorMulta"
                             For="@(() => InputModel.ValorMulta)" />

            <MudDatePicker Label="Data da Infração" Style="min-width: 200px;"
                           @bind-Date="InputModel.DataInfracao"
                           For="@(() => InputModel.DataInfracao)" />

            <MudTextField Label="Local da Infração" Style="min-width: 300px;"
                          @bind-Value="InputModel.LocalInfracao"
                          For="@(() => InputModel.LocalInfracao)" />

            <MudTextField Label="Órgão Autuador" Style="min-width: 300px;"
                          @bind-Value="InputModel.OrgaoAutuador"
                          For="@(() => InputModel.OrgaoAutuador)" />

            <MudNumericField T="int" Label="Pontos na CNH" Style="min-width: 150px;"
                             @bind-Value="InputModel.PontosNaCNH"
                             For="@(() => InputModel.PontosNaCNH)" />

            <MudTextField Label="ID do Cliente" Style="min-width: 150px;"
                          @bind-Value="InputModel.ClienteId"
                          For="@(() => InputModel.ClienteId)" />
        </div>

        <MudButton Class="mt-5" ButtonType="ButtonType.Submit"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   Disabled="IsBusy">
            Salvar
        </MudButton>
    </EditForm>
</MudPaper>
