<div class="d-flex justify-center">
    <img src="imgs/multa-logo.png" alt="Multa - Controle de inflações de transito" width="250" />
</div>

<MudNavMenu Class="custom-nav-link">
    <MudNavLink Icon="@Icons.Material.Filled.Home" IconColor="Color.Tertiary" Href="/multa" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.People" IconColor="Color.Tertiary" Href="/multa/clientes">Clientes</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.Description" IconColor="Color.Tertiary" Href="/multas">Multas</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.ExitToApp" IconColor="Color.Tertiary" Href="/multa /sair">Sair</MudNavLink>
</MudNavMenu>

@* <MudNavMenu Style="font-size: 1.50rem">
    <MudNavLink Icon="@Icons.Material.Filled.Home" Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.People" Href="/clientes">Clientes</MudNavLink>
    <MudNavLink Icon="@Icons.Material.Filled.ExitToApp" Href="/sair">Sair</MudNavLink>
</MudNavMenu> *@
